body {
	font-family: Noto Sans, Arial, Helvetica, sans-serif;
	margin:0em;
	padding:0em;
	background-color:#E1E1E1;
}
header {
	background:#FAFAFA;
	border-bottom: 1px solid #DDD;
	z-index: 15;
	/* More flexbox abuse... */
	display:flex;
	justify-content: space-between;
	align-items: center;
	position:sticky;
	top:0px;
}
h1{
	margin-left:0em;
	margin-top:0em;
	padding-top: 0.3em;
	padding-left: 0.2em;
	font-weight: 300;
}
footer {
	background:#FAFAFA;
	min-height: 1em;
	border: 1px solid #DDD;
	border-left:none;
	border-right:none;
	box-shadow: 0px 0px 25px 0px gray;
	position:relative;
	z-index: -5;
}
h4, h3 {
	margin: 0.2em;
	padding: 0em;
}
input,textarea,select,button {
	border:1px solid #888;
	border-radius: 0.2em;
	background-color: #FAFAFA;
	color:#222;
	margin: 0.1em;
	padding: 0.2em 0.4em;
}
input[type="text"]{
	min-width: 5em;	
}
textarea{
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}
input[type="button"], input[type="submit"],select,button {
	background: linear-gradient(#EEE,#DADADA);
}
input[type="button"]:hover, input[type="submit"]:hover,select:hover,button:hover {
	background: linear-gradient(#F3F3F3,#EAEAEA);
	border-color: #999;
	box-shadow: 0px 0px 2px #999;
}
input[type="button"]:active, input[type="submit"]:active,button:active {
	background: linear-gradient(#DCDCDC,#D4D4D4);
	border-color: #777;
}
input[type="button"]:disabled{
	opacity: 0.5;
	background: linear-gradient(#EEE,#DADADA) !important;
	border:1px solid #888 !important;
	box-shadow: none !important;
}
.tradeUIContainer{
	display:flex;
	justify-content: stretch;
}
.tradeUIContainer > div{
	flex-grow:1;
}
.comboBox{
	min-width: 10em;
	margin:0;
	padding-right: 1em;
	text-align: left;
	overflow: visible;
	position: relative;
}
.comboBox::after{
	content:"▼";
	position: absolute;
	right:0.35em;
	top:0.075em;
	color: gray;
}
.comboBoxOuter{
	display:inline-block;
	margin:0.1em;
}
.iButton{
	font-size: 24px;
	border:1px solid #88888855;
	background: #FFFFFF !important;
	padding: 0.1em;
	min-width: 1.5em;
	/* Does this work on everything? */
	font-family: emoji,segoe ui emoji, noto color emoji;
}
.fadedButton{
	opacity:0.5;
}
.fadedButton:hover{
	opacity:1.0;
}
.fadedButton:active{
	opacity:1.0;
}
.nvmButton{
	float:right;
}
.mainBody{
	background-color:white;
	display:flex;
}
.mainContent{
	margin-left:0.2em;
	flex-grow:1;
}
.uniqueItem, .ownedItem {
	margin: 0.2em;
}
.inlineBlock{
	display:inline-block;
}
.uniqueItem {
	border: 1px solid #DADADA;
	background-color: #00000004;
	max-width: 20em;
	min-width: 5em;
	flex-grow: 1;
	/* Evil flexbox abuse */
	display:flex;
	flex-direction: column;
}
.uniqueItemList{
	display:flex;
	flex-wrap: wrap;
}
.uniqueItem a{
	text-decoration: none;
}
.uniqueItem a:hover{
	text-decoration: underline;
}
.uniqueItem a:link{
	color: black;
}
.uniqueItem a:visited{
	color: black;
}
.jsLink{
	cursor: pointer;
}
.uniqueItemInner{
	flex-grow: 1;
	padding: 0.2em;
}
.uniqueItemAdditional{
	flex-grow: 0;
	background-color: #00000004;
	border-top: 1px solid #DADADA;
}
.itemDescription{
	font-size: 0.9em;
	font-style: italic;
	margin: 0em;
	color: #444;
	overflow-wrap: break-word;
}
.spacer{
	margin:0.5em 0em;
}
.longItemDescription{
	white-space: pre;
}
.ownedItem {
	border-radius: 0.2em;
	border: 1px solid gray;
	padding: 0.2em;
}
.messagesContainer {
	position: fixed;
	max-height: 100%;
	right:0.5em;
	bottom:0.5em;
	/* Ha ha! Take that fullscreenBlocker! I probably should do this smarter though.*/
	z-index: 101;
	overflow: auto;
}
.message {
	border:2px dashed red;
	box-shadow: 0px 0px 5px darkred;
	padding: 0.25em;
	margin: 0.5em 0.5em;
	background-color: lightyellow;
	float:right;
	max-height: 50%;
	max-width: 60%;
}
.messageContent{
	overflow:auto;
}
.message p {
	margin: 0em;
	padding: 0em;
	font-size: 0.75em;
	white-space: pre-wrap;
}
.message input {
	width: 100%;
}
.popupMenu {
	box-shadow: 0px 2px 5px #555;
	position: absolute;
	background: linear-gradient(#FFF,#EEE);
	padding: 0em;
	z-index: 50;
	margin:auto;
	border: 1px solid #999;
	outline: none;
}
.popupMenu ul {
	list-style: none;
	padding: 0em;
	margin: 0em;
}
.popupMenu li{
	padding: 0.2em;
	cursor: default;
	margin: 0em;
}
.popupMenu li:hover {
	background-color: #3AA6FF41;
}
.menuItemSelected{
	background-color: #2398F859;
}
.fullscreenBlocker {
	position:fixed;
	top:0px;
	bottom:0px;
	right:0px;
	left:0px;
	background:radial-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.5));
	display:flex;
	z-index:100;
}
.dialog {
	margin: auto auto;
	background-color: white;
	box-shadow: 0px 0px 30px #555;
	padding: 1em;
	border-radius: 0.25em;
}
.dialogButtons {
	clear:both;
	margin-top:1em;
}
.sideBar {
	border-right:1px solid #DDD;
	min-width:15em;
	background: linear-gradient(to right,#EEE,white);
}
.sideBarClosed{
	display:none;
}
.clickableListItem{
	cursor: pointer;
	padding: 0.15em 0.3em;
	border:1px solid transparent;
	transition: background-color 0.25s, border 0.25s, box-shadow 0.25s;
}
.clickableListItem:hover {
	background-color: #DEDEDE;
	box-shadow: 0px 0px 4px #999;
	border:1px solid #999;
	transition: background-color 0s, border 0s, box-shadow 0s;
}
.sideBarHeader{
	color: #444;
	border-bottom: 1px solid lightgray;
	font-style: italic;
}
.sideBarHeaderSpan{
	min-width: 1em;
	font-style: normal;
	display:inline-block;
	color:black;
}
.sideBarLink{
	text-decoration: none;
	outline:none;
}
.sideBarLink:link{
	color:black;
}
.sideBarLink:visited{
	color:black;
}
.active div{
	background-color: #00A2FF26;
	border:1px solid #00A2FF75;
}
.active div:hover{
	background-color: #00A2FF55;
	border:1px solid #00A2FFAA;
	box-shadow: 0px 0px 4px #268ac4;
}
.inventorySelector{
	border: 1px solid #CCC;
}
label{
	font-size:0.9em;
}
.cbL{
	font-size:1.0em;
	display:block;
}
label input, label textarea{
	display:block;
}
label input[type="checkbox"]{
	display:inline-block;
}
.registerFormMessage{
	display:block;
}
.errorText{
	color:red;
	font-style:italic;
}
.autoCompleteCompletions{
	box-shadow: 0px 1px 6px black;
	position: absolute;
	background:linear-gradient(#FFF,#EEE);
	border: 1px solid #888;
	display: inline-block;
	/*This shouldn't be hardcoded like this.*/
	min-width: 15em;
	z-index: 5;
}
.completionEntry{
	padding: 0.5em 0.3em;
	font-size: 0.9em;
}
.completionSelected {
	background-color: #AED1FA66;
	box-shadow: 0px 0px 4px #999;
	border:1px solid #5DB2DA;
	transition: background-color 0s, border 0s, box-shadow 0s;
}
.completionEntry span{
	font-style: italic;
	font-size: 0.9em;
}
table{
	border-collapse: collapse;
	border:1px solid #DDD;
	margin-bottom: 0.5em;
}
tr:nth-child(even){
	background-color: #F5F5F5;
}
tr{
	border-top: 1px solid #DDD;
}
th{
	color:#444;
	font-weight: normal;
	padding: 0.1em 0.25em;
}
.itemTableName{
	font-weight: bold;
}
.itemTableName a{
	text-decoration: none;
}
.itemTableName a:link{
	color:black;
}
.itemTableName a:visited{
	color:black;
}
.itemTableName a:hover{
	text-decoration: underline;
}
.itemListFilterBar{
	padding: 1em 0em 0.25em 0.5em;
}
.itemListStats{
	color: #444;
	font-style: italic;
	font-size: 0.9em;
}
.empty{
	font-size:1.1em;
	font-style:italic;
	color:gray;
}
@media (max-width: 550px){
	.sideBar{
		position: fixed;
		box-shadow: 0px 0px 16px 1px #565656;
		border-right:1px solid #AAA;
		border-bottom: 1px solid #AAA;
		background: #FAFAFA;
		/*The headerbar isn't exactly 2.5em, but this should be close enough..*/
		max-height:calc(100% - 2.5em);
		overflow:auto;
		z-index: 10;
	}
	.itemDescription{
		font-size: 0.7em;
		overflow-wrap: anywhere;
	}
	.itemTableName{
		overflow-wrap:anywhere;
		font-size: 0.9em;
	}
	.message{
		max-width: 100%;
	}
	.tradeUIContainer{
		flex-direction: column;
	}
}
